<div class="ui two column centered grid" id="search_component">
  <div class="row">
    <div class="column">

      <app-search-box (executeSearchEvent)="executeSearch($event)"></app-search-box>

    </div>
  </div>
  <div class="left aligned two column row" *ngIf="results">
    <div class="column">
      <label>Found {{results.length}} result(s)</label>
    </div>
  </div>
  <div class="left aligned two column row">
    <div class="column">
      <app-search-result-list [results]="results"></app-search-result-list>
    </div>
  </div>
</div>
